body,
html {
    margin             : 0;
    padding            : 0;
    height             : 100%;
    user-select        : none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select   : none;
    /* Firefox */
    -ms-user-select    : none;
    /* Internet Explorer/Edge */
}

.avatar {
    width        : 150px;
    height       : 150px;
    border-radius: 50%;
    border       : 4px solid white;
    object-fit   : cover;
}

.background {
    position  : relative;
    width     : 100%;
    height    : 100%;
    background: url("../img/background.png") no-repeat center center/cover;
}

.overlay {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 黑色蒙版 */
}

#content {
    position  : relative;
    z-index   : 1;
    /* 确保内容在蒙版上方 */
    color     : white;
    text-align: center;
    top       : 50%;
    transform : translateY(-50%);
}

/* 基本样式设置 */
.navigation {
    list-style     : none;
    padding        : 0;
    margin         : 0;
    display        : flex;
    gap            : 10px;
    /* 按钮之间的间距 */
    justify-content: center;
    /* 水平居中 */
    align-items    : center;
    /* 垂直居中 */
    margin-top     : 20px;
    /* 顶部外边距，可以根据需要调整 */
}

.navigation__item {
    display: inline;
}

.blog-button {
    display         : inline-block;
    padding         : 10px 20px;
    border          : 2px solid white;
    border-radius   : 30px;
    /* 圆角边框 */
    color           : white;
    text-decoration : none;
    font-size       : 16px;
    font-weight     : bold;
    background-color: rgba(255, 255, 255, 0.1);
    /* 按钮的背景颜色，可以根据需要调整透明度 */
    transition      : background-color 0.3s, color 0.3s;
}

.blog-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* 鼠标悬停时的背景颜色 */
    color           : white;
}

#footer {
    position        : fixed;
    bottom          : 0;
    width           : 100%;
    text-align      : center;
    font-size       : 12px;
    /* 缩小字体 */
    color           : rgba(68, 66, 66, 0.5);
    /* 透明度设为一半 */
    padding         : 10px 0;
    /* 可选，增加一些内边距 */
}